* {
    font-family: 'Arial', 'Helvetica', sans;
}

body {
 background-color: #DBCFB8;
}

.banner {
    height: auto;
    width: auto;
    
}

.products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-content: space-around;
    width: 79%;
}

.userContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
}

.product-selection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.product-item {
    padding: 1.25% 2.5%;
    width: 20%;
    border: 1px solid black;
    transition: 0.5s;
    background-color: #ffffff;
}

.product-item>div {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.product-item:hover {
    box-shadow: 0px 0.5px 0px 1.25px #f0f0f0;
}


.product {
    border-radius: 2px;
    border: 1px solid #a0aec0;
    width: 32%;
    margin: 0.5% 0.5%;
    box-shadow: 0px 2.5px 0px 5px #ffffff;
    transition: 0.5s;
}

.product:hover {
    box-shadow: 0px 0.5px 0px 1.25px #c4c3c3;
}

.product .product-body {
    padding: 1.5px 2.5px;
    width: 100%;
}

.product-body>img {
    width: 100%;
}

.searchBarContainer {
    padding: 0.5% 0%;
    display: block;
    justify-content: center;
    align-content: center;
    margin: 0;
    width: auto;
    height: fit-content;
}

.searchBarContainer input[type=text] {
    float: none;
    text-align: left;
    width: max-content;
    padding: 4px 6px;

}

.searchBarContainer button {
    background-color: saddlebrown;
    border-radius: 0px 5px 5px 0px;
    color: #ffffff;
    padding: 3px 6px;
    width: fit-content;
    transition: 0.8s;

}

.searchBarContainer button:hover {
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(156, 93, 48);
}

.footer {
    background-color:#DBCFB8;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin: 0.5%;
}

.filters {
    border: 1px solid gainsboro;
    border-radius: 5px;
    background-color: white;
    padding: 2.5%;
    margin: 0;
    width: 20%;
    height: 50%;
}

.filters form button {
    background-color: burlywood;
    border-radius: 5px;
    color: #ffffff;
    padding: 3px 6px;
    width: 50%;
    transition: 0.8s;
}

.filters form button:hover {
    background-color: saddlebrown;
}

.login-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.login-container .login-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #c4c3c3;
    border-radius: 6px;
}

.login-container .login-brand {
    margin-top: 7.5%;
    margin-left: auto;
    margin-right: auto;
}

.login-container .login-message {
    margin: 5% auto;
}

.login-container .login-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
    margin: 1.25% auto;
}

.login-container .login-credentials {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    background-color: #ffffff;
    margin: 0.5% auto;
}

.login-container .login-credentials .email {
    width: 100%;
    background-color: #ffffff;
    margin: 5% auto;
}

.login-container .login-credentials .password {
    width: 100%;
    background-color: #ffffff;
    margin: 0.5% auto;
}

.extra {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    background-color: #ffffff;
    margin: 0.5% auto;

}

.login-container .login-credentials .extra {
    width: 100%;
    background-color: #ffffff;
    margin: 0.5% auto;
}

.navbar-structure {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    /*background-color: #f1f1f1;*/
    /*position: fixed;*/
    /*height: 100%;*/
    /*overflow: auto;*/
}

.navbar-link a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    /*font-family: "Times New Roman", Times, serif;*/
    font-weight: normal;
    font-size: 20px;
}

.navbar-subLink a {
    display: block;
    color: #000;
    padding: 4px 16px;
    text-decoration: none;
    font-family: "Arial", sans;
    font-weight: normal;
    font-size: 17px;
}

.navbar-link a.active,
b.active {
    background-color: saddlebrown;
    color: white;
}

.navbar-link a:hover:not(.active),
b:hover:not(.active) {
    background-color: burlywood;
    color: white;
}

.navbar-subLink a.active,
b.active {
    background-color: saddlebrown;
    color: white;
}

.navbar-subLink a:hover:not(.active),
b:hover:not(.active) {
    background-color: burlywood;
    color: white;
}

.mainNavBarContainer {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid gainsboro;
}

.mainContainer {
    width: 75%;
    padding: 2.5%;
}

.mainContainer-title {
    width: 100%;
}

.mainContainer-title h1 {
    text-align: center;
    font-variant: all-petite-caps;
}

.parentMainContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.img {
    width: 100%;
    height: fit-content;
}

.superContainer {
    width: 100%;
}

.megaMenu {
    background-color: saddlebrown;
    padding: 2.5% 2.0%;
    border-radius: 6px;
    margin: 0% 0.5%;
}

.megaMenu span {
    color: white;
    text-align: center;
    margin-left: 30%;
    margin-right: 25%;
}

.megaMenuContent {
    display: none;
    background-color: #f0f0f0;
}

.megaMenu:hover .megaMenuContent {
    display: flex;
    border-radius: 6px;
    border-color: #c4c3c3;
    border: 1px;
    border-style: solid;
    flex-direction: row;
    justify-content: start;
    position: absolute;
    margin: 0;
    width: 60%;
    padding: 1.5%;
    float: left;
    z-index: 1;
}

.megaMenuContent .megaMenuColumn {
    padding: 0.5%;
    width: 25%;
}

.megaMenuRow {
    padding: 2.5% 2.5%;
}

.megaMenuRow a {
    text-decoration: none;
    color: black;
}

.megaMenuContent .megaMenuRow:hover {
    background-color: saddlebrown;
    transition: 1.5s;
}

.megaMenuContent .megaMenuRow:hover a {
    color: white;
    transition: 1.5s;
}

.navBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    width: 100%;
    background-color: white;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.navBarContainer .navBarLogo {
    width: 15%;
    padding: 0.5% 1%;
}

.navBarContainer .navBarSearch {
    width: 40%;
}

.navBarContainer .navBarMenu {
    width: 7.5%;
    padding: 0.5% 0%;
}

.navBarContainer .navBarLogin {
    float: right;
    display: block;
    /* justify-content: space-between; */
    width: 35%;
}

.navBarLoginOptions {
    float: right;
    margin-left: 1.25%;
    margin-right: 1.25%;
    /* background-color: #c4c3c3; */
    width: auto;
    padding: 2.5%;
}

.navBarUserSettings {
    display: none;
}

.navBarLoginOption {
    float: right;
    margin-left: 1.25%;
    margin-right: 1.25%;
    /* background-color: #c4c3c3; */
    width: auto;
    padding: 2.5%;
}

.navBarLoginOption:hover .navBarUserSettings {
    display: block;
    position: absolute;
    width: 30%;
    background-color: #f0f0f0;
    border-radius: 6px;
    z-index: 1;
}

.navBarLoginOptions a {
    text-decoration: none;
    color: black;
}

.navBarLoginOption:hover .navBarUserSettings a {
    display: block;
    position: absolute;
    width: 30%;
    margin: 0;
    padding: 1.5% 2.5%;
    background-color: #f0f0f0;
    border-radius: 6px;
    z-index: 1;
    text-decoration: none;
    color: black;
}

.navBarLoginOption:hover .navBarUserSettings a:hover {
    display: block;
    position: absolute;
    width: 30%;
    margin: 0;
    padding: 1.5% 2.5%;
    background-color: saddlebrown;
    border-radius: 6px;
    z-index: 1;
    text-decoration: none;
    color: white;
    transition: 1.5s;
}

.searchForm {
    margin: 0.5% 0%;
}

.singleProductContainer {
    padding: 5%;
    /* margin: 5%; */
    width: 100%;
}

.singleProductContents {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 1px solid gainsboro;
    padding: 3%;
}

.singleProductImage {
    padding: 2.5%;
    width: 70%;
}

.singleProductImage img {
    width: 90%;
}

.singleProductDetails {
    width: 75%;
}

.singleProductDetails button {
    background-color: saddlebrown;
    color: white;
    border-radius: 5px;
    padding: 0.75% 40%;
}

.singleProductSubmit {
    width: 100%;
}

.menuScreen {
    display: none;
    /* margin-top: 0%; */
    /* margin-left: -90%; */
    /* position: absolute; */
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #000; */
    opacity: 90%;
    width: 100%;
    transition: 10s;
}

.menuScreenSearch {
    display: none;
    /* margin: 0% -79%; */
    /* position: absolute; */
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #000; */
    opacity: 90%;
    width: 100%;
    transition: 10s;

}

.menuScreenBtn {
    display: none;
}

.menuScreenSearchBtn {
    display: none;
}

table {
    width: 100%;
    font-size: medium;
    border: 1px solid #c4c3c3;
    border-radius: 6px;
}

table tr td {
    border-right: 1px solid;
    border-right-color: #c4c3c3;
}

table tr:nth-child(even) {
    background-color: #f0f0f0;
}

table tr.attributes td {
    padding: 1.5% 0.25%;
    font-weight: bolder;
    border-bottom: 1px solid;
    border-bottom-color: #c4c3c3;
}

table tr.data td {
    font-size: small;
    padding: 0.75% 0.5%;
}

.userEmail {
    width: 17.5%;
}

.userPostcode {
    width: 7.5%;
}

.userAddressLine1 {
    width: 15%;
}

.adminCard {
    width: 25%;
    margin: 0.75%;
    border: 1px solid #f0f0f0;
}

.adminCardContent {
    width: 100%;
    padding: 15% 2.5%;
    background-color: saddlebrown;
}

.adminCardContent a {
    font-size: large;
    text-decoration: none;
    color: #ffffff;
}

.adminCardContent a:hover {
    color: #ffffff;
}

.adminCardTitle {
    width: 100%;
    padding: 2.5%;
}

@media only screen and (max-width:200px) {
    .img {
        height: fit-content;
    }
}


@media only screen and (max-width:1200px) {
    .img {
        height: fit-content;
    }
}

@media only screen and (max-width:1200px) {
    .navBarMenu {
        display: none;
    }

    .navBarSearch {
        display: none;
    }

    .login-container .login-box {
        width: 100%;
    }

    .img {
        height: fit-content;
    }

    .products-container {
        justify-content: center;
        width: 100%;
    }

    .filters {
        width: 50%;
    }

    .products {
        flex-direction: column;
        width: 100%;
    }

    .product {
        width: 100%;
    }

    .product-body {
        width: 100%;
    }

    .menuScreenBtn {
        padding: .5%;
        background-color: #ffffff;
        border: 1px solid black;
        display: flex;
        justify-content: space-around;
        border-radius: 5px;
        width: auto;
        height: fit-content;
        user-select: none;
    }

    .menuScreenSearchBtn {
        padding: 1.25% 2.5%;
        background-color: #ffffff;
        display: flex;
        justify-content: space-around;
        width: auto;
        height: fit-content;
    }

    /* .menuScreenBtn:hover ~ .menuScreen {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 90%;
        width: 100%;
        transition: 10s;
    }
    
    .menuScreenSearchBtn:hover ~ .menuScreenSearch {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 90%;
        width: 100%;
        transition: 10s;
    } */

    .menuScreen {
        /* position: absolute; */
        top: 0;
        /* left: 91%; */
        /* right: 91%; */
        bottom: 0;
        padding: 0% 0.5% 0%;
        width: 98%;
        background-color: #ffffff;
        z-index: 1;
        height: max-content;
        transition: top 300ms ease-in-out 300ms;
    }

    .menuScreenSearch {
        /* position: absolute; */
        top: 0;
        /* left: 80%; */
        /* right: 80%; */
        bottom: 0;
        padding: 0.75% 0.5%;
        width: 98%;
        z-index: 1;
        height: max-content;
    }

    .menuScreenSearch .navBarSearch {
        display: flex;
        justify-content: center;
    }

    .megaMenuContent {
        display: block;
        padding: 0.75%;
        background-color: #000;
    }

    .megaMenuContent strong {
        color: black;
    }

    .megaMenuContent .megaMenuColumn {
        width: 100%;
    }

    .megaMenuRow a {
        color: black;
    }

    .megaMenuRow:hover {
        background-color: saddlebrown;
        transition: 1.3s;
        width: 100%;
    }

    .megaMenuRow:hover a {
        color: #ffffff;
    }

    /* .navBarContainer {
        flex-direction: column;
    } */

    .navBarContainer .navBarSearch {
        width: 100%;
    }

    /* .navBarSearch {
        padding: 1.5%;
    } */

    .navBarContainer .navBarLogo {
        width: auto;
    }

    .navBarContainer .navBarLogin {
        display: none;
    }

    .parentMainContainer {
        flex-direction: column;
    }

    .parentMainContainer .mainNavBarContainer {
        width: 100%;
    }

    .parentMainContainer .mainContainer {
        width: 100%;
    }

    .megaMenuRowRight {
        padding: 2.5% 2.5%;
        color: white;
    }

    .megaMenuRowRight a {
        text-decoration: none;
    }

    .megaMenuRowRight:hover {
        background-color: saddlebrown;
        transition: 1.5s;
    }

    .adminCard {
        width: 100%;
    }

    .userContainer {
        flex-direction: column;
    }

    .megaMenuRow {
        padding: 0.5% 2.5%;
    }

    .mainNavBarContainer {
        display: none;
    }

    .big-collection .collection-flex {
        justify-content: center;
    }
}

@media only screen and (min-width:1000px) {
    .order_table {
        display: none;
    }

    .menuScreen {
        display: none;
    }
}

@media only screen and (max-width:1000px) {
    table {
        display: none;
    }
}

.msgGreenBox {
    width: 100%;
    background-color: rgb(107, 164, 97);
    color: white;
}

.big-collection {
    width: 90%;
    margin: 100px auto;

}

.big-collection .collection-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    grid-row-gap: 15px;
}

.big-collection .collection-flex .collect {
    margin: 0px 10px;
    text-align: center;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 6px;
    transition: 1.3s;
}

.collect:hover {
    transform: translateY(-6%);
    transform: translateY(-1.5%);
    box-shadow: 1.5px 3px rgba(0 0 0 / 1.5%),
    0 3px 10px rgba(0 0 0 / 1.5%);
    transition: .25s;
} 


.big-collection .collection-flex .link-pic {
    padding: 0.75rem;
}

.collection-flex .link-pic a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    position: relative;
    display: inline-block;

}

.collection-flex .link-pic a::before {
    content: "";
    position: absolute;
    background: black;
    top: 23px;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scale(0);



}

.collection-flex .collect:hover .link-pic a::before {
    transform: scale(1);
}

.collection-flex .collect .images {
    position: relative;
}

.collection-flex .collect:hover .image::before {
    animation: animate1 .6s linear forwards;
}

/* @keyframes animate1 {
    0%{
        width: 0;
        height: 0;
        border-top-color: #000;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 100%;
        height: 0;
        border-top-color: #000;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: #000;
        border-right-color: #000;
        border-bottom-color: transparent;
        border-left-color: transparent;

    }
} */

.wrapper {
    height: 100vh;
    position: relative;
    height: 450px;

}

.fas.fa-envelope {
    color: #fff;
    font-size: 2rem;
    background: #333;
    padding: 1rem;
    border-radius: 95%;
    margin: 0 0 1rem 0;
}

.card-content {
    max-width: 30rem;
    background-color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    padding: 4rem .5rem;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, .3);
    text-align: center;
}

.card-content h1 {
    text-transform: uppercase;
    margin: 0 0 1rem 0;
}

.card-content p {
    font-size: .8rem;
    margin: 0 0 2rem 0;
}

input {
    padding: .8rem 1rem;
    width: 40%;
    border-radius: 0.5rem;
    outline: none;
    border: .1rem solid #d1d1d1;
    font-size: .7rem;
}

::placeholder {
    color: #d1d1d1;
}

.subscribe-btn {
    padding: .8rem 2rem;
    border-radius: 5rem;
    background: linear-gradient(90deg, #a4745d, #604344);
    color: #fff;
    font-size: .7rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.feedback {
    max-width: 60%;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    border: solid 1px #f1f1f1;
    background: #fbfbfb;
    box-shadow: #e6e6e6 0 0 4px;
    border-radius: 0.25rem;
}

.review-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.review {
    margin:1.5%;
    padding: 1.5% 2.5%;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 6px;
}

.inputGroupContainer {
    display: flex;
    justify-content: center;
}

.basketContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

.basketContent {
    width: 65%;
    height: fit-content;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 6px;
    padding: 0.75rem;
}

.basketContent ul li {
    text-decoration: none;
    text-decoration-style: none;
    list-style: none;
}

.basketOrderSummary {
    width: 30%;
    height: fit-content;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 6px;
    padding: 1rem;
}

.basketItemDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.basketItemDetails .basketItem {
    width: 30%;
    padding: 0.75rem;
}

.basketItemDetails .basketItem img {
    width: 100%;
    height: fit-content;
}

.basketItemDetails div {
    width: 70%;
    border-bottom: 1px gainsboro solid;
    padding: 0.75rem;
}

.shopBtn {
    margin: 1.5%;
    width: 10rem;
    padding: 0.25rem;
    border-radius: 5px;
    background-color: saddlebrown;
    color: white;
    border: 1px solid gainsboro;
}